#searchBar:focus + #searchBtn {
    opacity:1;
    display: inline-block;
    cursor: pointer;
}

img {
    width: 80%;
    margin: 10%;
}

#singleCard {
    width: 45%;
}

#searchBtn {
    color: #0275d8;
    border-color: #ced4da;
    background-color: white;
}

.nouser {
    font-size: 1.2em;
}

#suggestedImg{
    width: 30px;
    margin: 2px 0.5em 0 0;
}