body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #F9D976, #F39F86);
}

.paper {
    position: absolute;
    left: 30vw;
    top: 10vh;
    width: 40vw;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.headerImage {
    max-height: 20vh;
}

.imgCentered {
    width: 25%;
}

input[type="text"] {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid gray;
    width: 75%;
}

input[type="text"]:focus {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #F9D976, #F39F86);
    border-image-slice: 1;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 500px) {
    .paper {
        top: 50%; /* IMPORTANT */
        left: 50%; /* IMPORTANT */
        display: block;
        position: absolute;
        background: black;
        width: 750px;
        height: 417px;

        margin-top: -208.5px; /* HALF OF THE HEIGHT */
        margin-left: -375px; /* HALF OF THE WIDTH */
    }
}