.singleCard {
    width:75%;
}

#cardImg {
    width: 80%;
    margin: 10%;
}

.userCards {
    padding-left: 10%;
}

.profileImg{
    width: 7rem;
    background: whitesmoke;
    border-radius: 1rem;
}