.singleCard {
    width:75%;
}

#cardImg {
    width: 80%;
    margin: 10%;
}

#userCards {
    border-radius: 0em 0em 1.5rem 0em;
}

#userCards > .title {
    text-align: left;
    margin: 2em;
}

.coverImage {
    border-radius: 1.5rem 1.5rem 0em 0em;
    background: #f5b953;
}

.userCards {
    padding-left: 10%;
}

.profileLeft {
    text-align: center;
    border-radius: 0em 0em 0em 1.5rem;
}

.profileImg{
    display: flex;
    width: 7rem;
    background: whitesmoke;
    border-radius: 1rem;
    margin-top: -3.5rem;
    border: 2px solid black
}

.imgContainer {
    width: 100%; 
    text-align: center;
}

.userName {
    margin-top: 0.5em;
    font-size: 2em;
}

.userName > p {
    margin-bottom: 0;
}

.userMotto {
    font-size: 1em;
}

.textIcon {
    margin-bottom: 0.16em;
}
