body {
    font-family: 'Open Sans', sans-serif;
}

#emailHelp, #usernameHelp {
    display:none;
}

.container {
    width: 30%;
}

.myTitle {
    margin-top: 3.5em;
    margin-bottom: 1.5em;
}

.spacer{
    width: 90%;
}

.titleBar{
    border-radius: 0px;
}

textarea {
    resize: none;
    white-space: pre-wrap;
}

.profilePic {
    width: 80%; 
    margin: 10%;
}

.profilePic:hover {
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 1em;
}

.imgList {
    width: 4.5em;
    height: 4.5em;
}

.imgList:hover {
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 1em;
}

.navBarIcon {
    width: 1.2em; 
    height: 1.2em;
    max-width: 1.2em;
    max-height: 1.2em;
    margin:0; 
    margin-bottom: 0.2em;
}

img {
    background-image: url('images/loader.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.navbar-brand,
.consolas{
    font-family: 'Consolas', serif;
}

#noflashcards {
    margin-top: 1em;
}

.card{
    border-color: #adb5bd;
}